@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #254d4d;
  --text-dark: #171717;
  --text-light: #737373;
  --extra-light: #f4f6f5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.section__description {
  font-size: 1.1rem;
  color: var(--text-light);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
    background-color: black;
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo .logo {
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__search {
  display: none;
}

.header__container {
  display: grid;
  overflow: hidden;
}

.header__image {
  grid-area: 1/1/2/2;
}

.header__image img {
  max-width: 900px;
  margin-left: auto;
}

.header__content {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
}

.header__content > div {
  max-width: 500px;
  padding: 4rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.header__content p {
  font-size: 1.2rem;
  color: var(--text-light);
}

.deals__container {
  display: grid;
  gap: 2rem;
}

.deals__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.deals__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.deals__card p {
  color: var(--text-light);
}

.about__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__header .section__description {
  max-width: 600px;
}

.about__btn {
  width: fit-content;
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.about__content {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.about__grid {
  display: grid;
  gap: 2rem;
}

.about__image {
  overflow: hidden;
}

.about__card h3 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about__card p {
  color: var(--text-light);
}

.product__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.product__card {
  position: relative;
  isolation: isolate;
  padding: 2rem;
}

.product__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-color: var(--extra-light);
  z-index: -1;
  transition: 0.3s;
}

.product__card:hover::before {
  height: 100%;
}

.product__card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.product__card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--text-light);
}

.product__card img {
  max-width: 275px;
  margin-inline: auto;
}

.client__content {
  padding: 4rem 1rem;
  background-color: var(--extra-light);
  border-radius: 1rem;
}

.client__content :is(.section__header, .section__description) {
  max-width: 550px;
  margin-inline: auto;
  text-align: center;
}

.client__content .section__header {
  font-size: 3.25rem;
}

.swiper {
  margin-top: 4rem;
  width: 100%;
}

.client__card {
  display: grid;
  gap: 2rem;
  max-width: 750px;
  margin-inline: auto;
  text-align: center;
}

.client__card img {
  max-width: 250px;
  margin-inline: auto;
}

.client__card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--text-light);
  font-style: italic;
}

.client__card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.client__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

/* .footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo .logo {
  color: var(--white);
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--white);
}

.footer__socials a:hover {
  opacity: 0.5;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__links a:hover {
  opacity: 1;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--extra-light);
  opacity: 0.8;
  text-align: center;
} */
footer{
    height: 50px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    footer .links_to{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
      font-weight: 1000;
    }
    
    footer .links_to li {
      list-style: none;
      height: 5px;
    
    }
    
    footer .links_to li a
    {
    font-size: 2em;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    }
    
    footer .links_to li a:hover{
     transform: translatey(-10px);
    }
    
    footer .wave{
    position: absolute;
    top: -63px;
    Left: 0;
    width: 100%;
    height: 100px;
    background:url(wave.jpg);
    background-size: 1000px 100px;
    }
    footer .wave#wave1
    {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
    }
    
    footer .wave#wave2
    {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
    }
    
    footer .wave#wave3
    {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
    }
    
    footer .wave#wave4
    {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
    }
    
    @keyframes animateWave
    {
    0%
    {
    background-position-x: 1000px;
    }
    100%
    {
    background-position-x: 0px;
    }
    }
    
    @keyframes animateWave_02
    {
    0%
    {
    background-position-x: 1000px;
    }
    100%
    {
    background-position-x: 0px;
    }
    }
    
    .links_to .search{
      margin-right: 200px;
      margin-left: 300px;
      margin-top: 60px;
      margin: 0 10px;
    
    }
    .links_to .trend{
      margin-right: 300px;
      margin-left: 300px;
    }
    .links_to .pencil{
      margin-right: 300px;
      margin-left: 30px;
    }
    .links_to .three{
      margin : 30px 0px;
      margin-left: 30px;
      top: 70px;
    }
    
    footer .links_to .ion-icon{
      font-size: 50px;
      font-weight: 200;
      
    }

@media (width > 540px) {
  .deals__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__logo .logo {
    color: var(--primary-color);
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .nav__search input {
    padding-block: 5px;
    outline: none;
    border: none;
    width: 0;
    font-size: 1rem;
    color: var(--text-dark);
    border-bottom: 1px solid var(--text-light);
    transition: 0.3s;
  }

  .nav__search.open input {
    width: 100%;
    max-width: 15rem;
  }

  .nav__search span {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
    cursor: pointer;
  }

  .header__container {
    padding-top: 0;
  }

  .deals__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .deals__card:nth-child(1) {
    grid-column: 1/4;
  }

  .about__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .about__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__image {
    grid-area: 1/2/2/3;
  }

  .product__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .client__card {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1024px) {
  .deals__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .deals__card:nth-child(1) {
    grid-column: unset;
  }

  .about__grid {
    gap: 4rem 2rem;
  }
}
.grid {
    height: 800px;
    width: 800px;
    background-image: linear-gradient(to right, #0f0f10 1px, transparent 1px),
      linear-gradient(to bottom, #0f0f10 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-position: center center;
    position: absolute;
    z-index: -1;
    filter: blur(1px);
  }
  .white,
  .border,
  .darkBorderBg,
  .glow {
    max-height: 70px;
    max-width: 314px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    /* Border Radius */
    border-radius: 12px;
    filter: blur(3px);
  }
  .input {
    background-color: #010201;
    border: none;
    /* padding:7px; */
    width: 301px;
    height: 56px;
    border-radius: 10px;
    color: white;
    padding-inline: 59px;
    font-size: 18px;
  }
  #poda {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input::placeholder {
    color: #c0b9c0;
  }
  
  .input:focus {
    outline: none;
  }
  
  #main:focus-within > #input-mask {
    display: none;
  }
  
  #input-mask {
    pointer-events: none;
    width: 100px;
    height: 20px;
    position: absolute;
    background: linear-gradient(90deg, transparent, black);
    top: 18px;
    left: 70px;
  }
  #pink-mask {
    pointer-events: none;
    width: 30px;
    height: 20px;
    position: absolute;
    background: #cf30aa;
    top: 10px;
    left: 5px;
    filter: blur(20px);
    opacity: 0.8;
    animation:leftright 4s ease-in infinite;
    transition: all 2s;
  }
  #main:hover > #pink-mask {
    animation: rotate 4s linear infinite;
    opacity: 0;
  }
  
  .white {
    max-height: 63px;
    max-width: 307px;
    border-radius: 10px;
    filter: blur(2px);
  }
  
  .white::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(83deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.4);
    background-image: conic-gradient(
      rgba(0, 0, 0, 0) 0%,
      #a099d8,
      rgba(0, 0, 0, 0) 8%,
      rgba(0, 0, 0, 0) 50%,
      #dfa2da,
      rgba(0, 0, 0, 0) 58%
    );
    animation: rotate 4s linear infinite;
    transition: all 2s;
  }
  .border {
    max-height: 59px;
    max-width: 303px;
    border-radius: 11px;
    filter: blur(0.5px);
  }
  .border::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    position: absolute;
    width: 600px;
    height: 600px;
    filter: brightness(1.3);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      #1c191c,
      #402fb5 5%,
      #1c191c 14%,
      #1c191c 50%,
      #cf30aa 60%,
      #1c191c 64%
    );
    animation: rotate 4s 0.1s linear infinite;
    transition: all 2s;
  }
  .darkBorderBg {
    max-height: 65px;
    max-width: 312px;
  }
  .darkBorderBg::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(82deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      rgba(0, 0, 0, 0),
      #18116a,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 50%,
      #6e1b60,
      rgba(0, 0, 0, 0) 60%
    );
    transition: all 2s;
  }
  #poda:hover > .darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(262deg);
  }
  #poda:hover > .glow::before {
    transform: translate(-50%, -50%) rotate(240deg);
  }
  #poda:hover > .white::before {
    transform: translate(-50%, -50%) rotate(263deg);
  }
  #poda:hover > .border::before {
    transform: translate(-50%, -50%) rotate(250deg);
  }
  
  #poda:hover > .darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(-98deg);
  }
  #poda:hover > .glow::before {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
  #poda:hover > .white::before {
    transform: translate(-50%, -50%) rotate(-97deg);
  }
  #poda:hover > .border::before {
    transform: translate(-50%, -50%) rotate(-110deg);
  }
  
  #poda:focus-within > .darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(442deg);
    transition: all 4s;
  }
  #poda:focus-within > .glow::before {
    transform: translate(-50%, -50%) rotate(420deg);
    transition: all 4s;
  }
  #poda:focus-within > .white::before {
    transform: translate(-50%, -50%) rotate(443deg);
    transition: all 4s;
  }
  #poda:focus-within > .border::before {
    transform: translate(-50%, -50%) rotate(430deg);
    transition: all 4s;
  }
  
  .glow {
    overflow: hidden;
    filter: blur(30px);
    opacity: 0.4;
    max-height: 130px;
    max-width: 354px;
  }
  .glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    position: absolute;
    width: 999px;
    height: 999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border color, change middle color*/
    background-image: conic-gradient(
      #000,
      #402fb5 5%,
      #000 38%,
      #000 50%,
      #cf30aa 60%,
      #000 87%
    );
    /* change speed here */
    animation: rotate 4s 0.3s linear infinite;
    transition: all 2s;
  }
  
  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(450deg);
    }
  }
  @keyframes leftright {
    0% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  
    49% {
      transform: translate(250px, 0px);
      opacity: 0;
    }
    80% {
      transform: translate(-40px, 0px);
      opacity: 0;
    }
  
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  
  #filter-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    max-height: 40px;
    max-width: 38px;
    height: 100%;
    width: 100%;
  
    isolation: isolate;
    overflow: hidden;
    /* Border Radius */
    border-radius: 10px;
    background: linear-gradient(180deg, #161329, black, #1d1b4b);
    border: 1px solid transparent;
  }
  .filterBorder {
    height: 42px;
    width: 40px;
    position: absolute;
    overflow: hidden;
    top: 7px;
    right: 7px;
    border-radius: 10px;
  }
  
  .filterBorder::before {
    content: "";
  
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.35);
    background-image: conic-gradient(
      rgba(0, 0, 0, 0),
      #3d3a4f,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      #3d3a4f,
      rgba(0, 0, 0, 0) 100%
    );
    animation: rotate 4s linear infinite;
  }
  #main {
    position: relative;
  }
  #search-icon {
    position: absolute;
    left: 20px;
    top: 15px;
  }
  


  /* === removing default button style ===*/
.bajari {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.bajari {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.bajari:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}