body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 15px 0;
}

h1 {
    margin: 0;
}

.trending-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.video-item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.video-details {
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}

p {
    color: #606060;
    margin: 0;
    font-size: 14px;
}
